

*{
/* padding :0; 
margin :0;  */
/* background-color:  */


}

legend{

    margin: auto;

}

 .email{
    margin-left : 20px

}
form { 
    width: 300px; 
    margin-left: 100px; 
}

login page{

color:blue


} 



